body {
	font-family: fantasy;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
	padding: 10px;
}

.header {
	height: 50px;	
	background-color: orange;
}

.sidebar {
	height: 350px;
	width: 20%;	
	background-color: yellow;
	float: left;
}

.content {
	height: 350px;
	width: 80%;	
	background-color: blue;
	float: left;
}

.footer {
	height: 50px;	
	background-color: green;
	clear: both;
}