body {
	font-family: fantasy;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
	padding: 10px;
}

.logo {
	height: 80%;
	width: 20%;
	border: 1px solid black;
	margin: 5px;
	margin-right: 0px;
	background-color: pink;
	float: left;
}

.nav {
	height: 80%;
	width: 77%;
	border: 1px solid black;
	margin: 5px;
	margin-left: 0px;
	background-color: red;
	float: left;
}

.header {
	height: 60px;	
	background-color: orange;
}

.sidebar {
	height: 350px;
	width: 20%;	
	background-color: yellow;
	float: left;
}

.content {
	height: 350px;
	width: 80%;	
	background-color: blue;
	float: left;
}

.footer {
	height: 50px;	
	background-color: green;
	clear: both;
}